<!--The content below is only a placeholder and can be replaced.-->
<div class="setBody">
<div class="left_body">
<div style="display: flex; margin: 20px">
  <app-left [buttonId]='123'></app-left>
</div>
<div style="display: flex; margin: 20px">
  <app-left [buttonId]='123'></app-left>
</div>
<div style="display: flex; margin: 20px">
  <app-left [buttonId]='123'></app-left>
</div>
<div style="display: flex; margin: 20px">
  <app-left [buttonId]='123'></app-left>
</div>
<div style="display: flex; margin: 20px">
  <app-left [buttonId]='123'></app-left>
</div>
<div style="display: flex; margin: 20px">
  <app-left [buttonId]='123'></app-left>
</div>
<div style="display: flex; margin: 20px">
  <app-left [buttonId]='123'></app-left>
</div>
</div>
<div class="right_body">
  <app-right></app-right>
</div>
</div>
